/* CSS Reset */
*{
    margin:0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    margin:0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color:white;
} 
.nav{
    -webkit-user-select: none;
    background-color: rgb(27, 25, 25);
    margin: 0;  
    position: fixed;
    width:100vw;
}
.ac{
    text-decoration: none;
    color:white;
}
li{
    display: inline-block;
    padding:1em;
    margin-left: -0.28em; 
}
/* li:hover:not(.btn){
    background-color: rgb(89, 0, 255);
} */
.active{
    background-color: rgb(89, 0, 255);
}
.active:hover{
    background-color:  rgb(27, 25, 25);
    color:white;
}
.logo{
    font-size: 1em;
    color:white;
    text-align: center;
}
.btn{
    float: right;
    height:1em;     
}
button{
    border: 0.15em solid rgb(89, 0, 255);
    border-radius: 0.3em;
    background-color: white;
    color:rgb(89, 0, 255);
    font-size: 0.8em;
    padding: 0.5em 1.5em;
    text-align: center;
    margin-top: -0.6em;
}
button:hover{
    background-color: rgb(89, 0, 255);
    color:white;
}
.m:hover{                                       
    background-color: rgb(89, 0, 255);
}
.sidenav{
    margin-top: 2em;
    display: block;
    height: 100vw;
    position: fixed;
    background-color: black;
    width: 4em;
    font-size:1.5em !important;
    padding: 2em;
}
.as{
    -webkit-user-select: none;
    text-decoration: none;
    display: block;
    color:white;
    width: 6.89em;
    margin-left: -1.89em;
    text-align: center;
    padding: 0.5em;
}
.as:hover{
    background-color: rgb(119, 0, 255);
    color:white;
    padding:0.5em;
    width:6.89em;
}
.closebtn{
    position: absolute;
    margin-top: -2em;
    margin-left: 5em;
    color:white;
    text-decoration: none;
    -webkit-user-select: none;
}
.closebtn:hover{
    color:rgb(119, 0, 255);
    
}
#mysidenav{
    margin-left: -9em;
}